.payment {
  background-color: white;
  /* display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto; /* center the payment component */
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none; /* remove underline from link*/
}

/* .payment__container {
  display: flex;
  flex-direction: column;
} */

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 20px; */
}

.payment__title {
  flex: 0.2; /* 20% of the space */
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  font-weight: bolder; /* bold*/
}

/* .payment__items {
  flex: 1;
}

.payment__details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
}

.payment__details > h3 {
  margin-bottom: 20px;
}

.payment__details > form > h5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.payment__details > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
}

.payment__details > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.payment__details > p {
  margin-top: 10px;
  font-size: 12px;
}

.payment__details > h3 > span {
  color: gray;
  font-size: 16px;
}

.payment__details > h3 > button {
  background-color: white;
  border: none;
  color: #007185;
  text-decoration: underline;
  cursor: pointer;
}

.payment__details > h3 > button:active {
  text-decoration: underline;
}

.payment__details > h3 > button:link {
  text-decoration: underline;
}

.payment__details > h3 > button:visited {
  text-decoration: underline;
}

.payment__details > h3 > button:focus {
  text-decoration: underline;
}

.payment__details > h3 > button:hover {
  text-decoration: underline;
} */
